<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  
  <div class="col-md-8">
    <h3>みんなの投稿</h3>
    <%= search_form_for @q, url: @url do |f| %>
    <div class="input-group">
    <%= f.text_field :content_cont, placeholder: "Enter keyword...",
                      class: 'form-control' %>
    
      <span class="input-group-btn">
       <%= f.submit '検索', class: "btn btn-primary" %>
       </span>
    </div>
    <% end %>
    
    <%= render 'shared/feed' %>
  </div>  
  </div>