<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "TRAVESTA", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ログイン", '#' %></li>
            <li><%= link_to "新規登録", '' %></li>
            <li><%= link_to "マイページ", '#' %></li>
            <li><%= link_to "投稿一覧", '#' %></li>
            <li><%= link_to "", '' %></li>
          </ul>
        </nav>
      </div>
    </header>